<a href="https://colab.research.google.com/github/zaedulislam/Programming_Languages/blob/main/Python/Immutable%20vs%20Mutable%20Data%20Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Python `id()` function returns the “identity” of the object. The identity of an object is an integer, which is guaranteed to be unique and constant for this object during its lifetime.

* Two objects with non-overlapping lifetimes may have the same id() value.

# Immutable Data Types

> **Objects of type `int` are immutable**

In [5]:
age = 42

print("id:", id(age))
print("type:", type(age))
print("value:", age)

id: 94842218843936
type: <class 'int'>
value: 42

In [6]:
age = 47

print("id:", id(age))
print("type:", type(age))
print("value:", age)

id: 94842218844096
type: <class 'int'>
value: 47

When we type age = 43, what happens is that another object is created, of the type int and value 43 (also, the id will be different), and the name age is set to point to it. So, we didn’t change that 42 to 43. We actually just pointed age to a different location. The difference in `id` values justifies this.

# Mutable Data Types
> Some of Python’s mutable data types are: **lists**, **byte arrays**, **sets**, and **dictionaries**.

In [7]:
fruits = list(('apple', 'banana', 'clementine'))
print("id (before):", id(fruits))

fruits.append('dates')
print("id (after):", id(fruits))

id (before): 139894891894336
id (after): 139894891894336